body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }
  
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black; 
    color: #fff;
  }
  
  .logo {
    width: 200px;
    height: auto; 
    margin-bottom: 10px; 
  }
  
  .counter div {
    margin-top: 10px; /* Adding space between logo and score */
  }
  
  h1 {
    margin: 0; /* Resetting default margin for h1 */
  }
  